
.choice-button1 {
    background-color: #e20f0f;
    color: #abffe2;
    width: 735px;
    height: 335px;
    /*padding: 150px 250px;*/
    font-size: 35px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 65px;
    -webkit-appearance: none;
    appearance: none;
}

.choice-button1:hover {
    background-color: #e14141;
}

.choice-button2 {
    background-color: #288710;
    color: #abffe2;
    /*padding: 150px 250px;*/
    width: 735px;
    height: 335px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 400px;
    -webkit-appearance: none;
    appearance: none;
}

.choice-button2:hover {
    background-color: #428f2d;
}

.choice-button3 {
    background-color: #10389e;
    color: #abffe2;
    /*padding: 150px 250px;*/
    width: 735px;
    height: 335px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 65px;
    left: 735px;
    -webkit-appearance: none;
    appearance: none;
}

.choice-button3:hover {
    background-color: #34519a;
}

.choice-button4 {
    background-color: #c3970d;
    color: #abffe2;
    /*padding: 150px 250px;*/
    width: 735px;
    height: 335px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 400px;
    left: 735px;
    -webkit-appearance: none;
    appearance: none;
}

.choice-button4:hover {
    background-color: #d6ad36;
}

.score-text {
    color: white;
    font-style: oblique;
    position: absolute;
    top: 740px;
    left: 10px;
}

.max-score-text {
    color: white;
    font-style: oblique;
    position: absolute;
    top: 740px;
    right: 10px;
}

.check-indication {
    font-style: oblique;
    position: absolute;
    top: 740px;
    left: 50%;
    transform: translate(-50%);
}

.question {
    color: white;
    text-align: center;
    font-variant: lining-nums;
    font-weight: bold;
    top: 100px;
}
