<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NBA KNOWLEDGE QUIZ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleKahoot.css?v=4}">

</head>
<body style="background-color: #2b0c49">

    <h1 class="question" th:text="${currentQuestionIndex + 1 + '. ' + nextQuestion.question}"/>

    <form action="#" th:action="@{/answer}" method="post">
        <p><input type="hidden" name="answerString" th:value="${nextQuestion.choices[0].name}"/></p>
        <p>
            <input type="submit"
                   th:value="${nextQuestion.choices[0].name}"
                   class="choice-button1" />
        </p>
        <p><input type="hidden" name="trueAnswer" th:value="${nextQuestion.correctAnswer}" /></p>
    </form>
    <form action="#" th:action="@{/answer}" method="post">
        <p><input type="hidden" name="answerString" th:value="${nextQuestion.choices[1].name}"/></p>
        <p>
            <input type="submit"
                   th:value="${nextQuestion.choices[1].name}"
                   class="choice-button2" />
        </p>
        <p><input type="hidden" name="trueAnswer" th:value="${nextQuestion.correctAnswer}" /></p>
    </form>
    <form action="#" th:action="@{/answer}" method="post">
        <p><input type="hidden" name="answerString" th:value="${nextQuestion.choices[2].name}"/></p>
        <p>
            <input type="submit"
                   th:value="${nextQuestion.choices[2].name}"
                   class="choice-button3" />
        </p>
        <p><input type="hidden" name="trueAnswer" th:value="${nextQuestion.correctAnswer}" /></p>
    </form>
    <form action="#" th:action="@{/answer}" method="post">
        <p><input type="hidden" name="answerString" th:value="${nextQuestion.choices[3].name}"/></p>
        <p>
            <input type="submit"
                   th:value="${nextQuestion.choices[3].name}"
                   class="choice-button4" />
        </p>
        <p><input type="hidden" name="trueAnswer" th:value="${nextQuestion.correctAnswer}" /></p>
    </form>

    <h1 class="score-text" th:text="'Score: ' + ${finalScore}"></h1>
    <h1 class="max-score-text" th:text="'Best Streak: ' + ${maxScore}"></h1>
    <h1 th:style="${checkIndicator == 'Correct'? 'color:green':'color:red'}" class="check-indication" th:text="${checkIndicator}"></h1>
    <!--    <h1 th:text="${nextQuestion.correctAnswer}"></h1>-->

<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Number</th>-->
<!--            <th scope="col">Answer</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tr th:each="choice, index: ${nextQuestion.choices}">-->
<!--            <td th:text="${index.count}"/>-->
<!--            <td th:text="${choice.name}"/>-->
<!--        </tr>-->
<!--    </table>-->

</body>
</html>

