<!DOCTYPE html>
<html>
<head>
    <title>NBA Quiz Start</title>
</head>
<body>
<h1>Welcome to the NBA Knowledge Quiz!</h1>
<div class="text-wrapper">
    <p>Test your knowledge of NBA player stats.</p>
</div>
<form action="/start" method="post">
    <div class="button-wrapper">
        <p>
            <input type="submit"
                   th:value="${'Start Quiz'}"
                   class="start-button" />
        </p>
    </div>
</form>
</body>
</html>

<body style="background-color: #b5d38c">

<link rel="stylesheet" th:href="@{/css/styleStart.css}">
